# ignore WP core files
wp-admin/
wp-includes/
wp-content/uploads
wp-content/plugins
wp-content/themes/twenty*
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config*
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
index.php
readme.html
xmlrpc.php
license.txt

# misc
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.idea
.vscode

# composer local
composer*
vendor

# automation
pipelines